#collection{
  grid-column: 1/2;
  display: grid;
  grid-template-columns:  auto auto;
  row-gap: 25px;
  column-gap: 25px;
  grid-template-rows: max-content max-content;
  margin-left: 20%;
}
.article {
  width: 100%;
  height: fit-content;
  background: #e8e4de;
  margin: 5%;
  border-radius: 20px;
  padding: auto;
  text-align: center;
  display: flex;
  flex-direction:column;
}

.article img{
  margin: 15px;
  height: 280px;
}
#text{
  text-align: left;
  padding: 25px;
  white-space: nowrap;
}

button.stock{
  padding: 2px;
}