.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item {
    margin: 10px;
    text-align: center;
}
.item img {
    width: 200px;
    height: 100px;
}
.contenant{
    display: flex;
}

.visionneuse{
    width: 100%;
    height: fit-content;
    background: #e8e4de;
    border-radius: 20px;
    padding: auto;
    text-align: center;
  }

.visionneuse h2{
    color: black;
    text-transform: capitalize;
}